*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
  }

.main{
    min-height: 100vh;
    position: relative;
    width: 100%;
    background: #06e23d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, #f0f0f0, #8ecdff);
}

.main .image-container {
    padding: 10px;
  }
  
  .main .image-container .image {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  } 
.main .input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 50px;
    border-radius: 20px;
    background: #05e736;
  }
  
  .main .input .talk {
    background:hsl(150, 89%, 46%);
    outline: #12c4c4;
    border: #000000;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    cursor: pointer;
  }
  
  .main .input .talk i {
    font-size: 20px;
    color:#ffffff;
  }
  
  .main .input .content {
    color: #ffffff;
    font-size: 15px;
    margin-right: 20px;
  }
  